

@media screen and (max-width: 1900px) {

    .footer-container{
        @include footer;
    
    .left-side{
    @include leftSide;
    
    .topic{
        
        @include para;
    }
    
    .footer-list{
        @include footerlist;
    
    .list-i{
    .word {
        color: $word-color;
        list-style: none;
    }
    }
}
    }
    
    
     
    .footer-img{    
    position: relative;
    left: 88vw;
    
}
    .copyright{
        top: $copy-top;
        left: $copy-left; 
    position: relative;

    }
    .challanged-father{
        @include challangedtop;
    
    .challanged{
        @include challange;
        
    }
}
    }
    @media screen and (max-width: 800px){
        .footer-container{
            @include footer;
        
        .left-side{
        @include leftSide;
        
        .topic{
            
            @include para;
        }
        
        .footer-list{
            @include footerlist;
        
        .list-i{
        .word {
            color: $word-color;
            list-style: none;
        }
        }
    }
        }
        .footer-social.media{
        
        
        .footer-img{    
        position: relative;
        
        
        }
    }
        .copyright{
            top: $copy-top;
            left: $copy-left; 
        position: relative;
    
        }
        .challanged-father{
            @include challangedtop;
        
        .challanged{
            @include challangedtop;
        }
    }
        }
    }

    @media screen and (max-width: 500px) {
        
    .footer-container{
        @include footer;
    
    .left-side{
    @include leftSide;
    
    .topic{
        
        @include para;
    }
    
    .footer-list{
        @include footerlist;
    
    .footer-list-i{
    .word {
        color: $word-color;
        list-style: none;
    }
    }
}
    }
    
    
    .footer-img{    
    position: relative;
    
    
    }

    .copyright{
        top: $copy-top;
        left: $copy-left; 
    position: relative;

    }
    .challanged-father{
        @include challangedtop;
    
    .challanged{
        @include challange;
    }
}
}}}
