@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /*with this now 10px = 1rem */
  /* note that we could have used ems instead of rems but that is a whole lot of work, because it is difficult to make, because the ems depend not on the root font size but on the font size of the parent Element and with that you have to do a lot of calculations and it becomes really difficult to mange.  */
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-image: url("../img/desktop/image-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 64.9rem;
  width: auto;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav #logo {
  margin: 6.1rem 0 0 16.3rem;
}
header .nav-links {
  margin-top: 6.1rem;
  margin-right: 16.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
header .nav-links li a {
  color: white;
  font-size: 2.3rem;
  font-weight: 500;
  padding: 3.3rem;
  text-decoration: none;
}
header .title {
  width: 65.1rem;
  position: absolute;
  top: 25.8rem;
  left: 15.9rem;
  border: 0.2rem solid white;
}
header .title p {
  padding: 2.3rem;
  color: white;
  text-transform: uppercase;
  font-size: 7.1rem;
  font-weight: 100;
  letter-spacing: 0.8rem;
}

@media screen and (max-width: 1035px) {
  .burger span {
    padding: 0.2rem 2rem;
    background: white;
    margin: 0.5rem 0rem;
    display: block;
  }

  .nav-links {
    background: black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: -7rem;
    left: 0;
    text-decoration: underline;
    flex-direction: column;
    align-items: center;
  }

  .title {
    display: none;
  }
}
#ourProjects {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
#ourProjects #ourProjectsHeader {
  display: flex;
  flex-direction: row;
}
#ourProjects #ourProjectsHeader p {
  font-size: 4rem;
  margin-left: 1%;
}
#ourProjects #ourProjectsHeader button {
  margin-left: auto;
  margin-right: 1%;
  height: 50%;
  width: 8rem;
  align-self: center;
  background-color: white;
  border-width: 1.5px 1.5px 1px 1px;
}
#ourProjects #projectBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#ourProjects #projectBox .projects {
  flex: 1 0 21%;
  height: 40rem;
  margin: 1%;
  display: flex;
}
#ourProjects #projectBox .projects img {
  position: absolute;
  height: 43%;
  width: 14%;
}
#ourProjects #projectBox .projects p {
  color: white;
  width: 50%;
  font-size: 2.9rem;
  align-self: flex-end;
  margin-left: 15%;
  z-index: 1;
  justify-items: flex-start;
  position: relative;
  -o-table-baseline: inherit;
  margin-bottom: 25%;
}
#ourProjects #projectBox .projects #gridphrase {
  margin-bottom: 10%;
}
#ourProjects #projectBox .projects #soccerPhrase {
  margin-left: 15%;
}

.container {
  max-width: 1160px;
  margin: auto;
  padding: 0px 1.5rem;
}

.vr {
  padding-top: 5rem;
  padding-bottom: 0;
  position: relative;
}
@media screen and (max-width: 1080px) {
  .vr {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 768px) {
  .vr {
    padding-top: 96px;
  }
}
.vr__flex {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1080px) {
  .vr__flex {
    flex-direction: column;
  }
}
.vr__img {
  background: url(../../img/desktop/image-interactive.jpg);
  background-repeat: no-repeat;
  height: 70vh;
  width: 100vw;
}
@media screen and (max-width: 1080px) {
  .vr__img {
    width: 130%;
    background-size: cover;
  }
}
@media screen and (max-width: 768px) {
  .vr__img {
    background: url(../../img/mobile/image-interactive.jpg);
    height: 223px;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.vr__text {
  position: absolute;
  top: 25rem;
  right: 20rem;
  bottom: 0;
  background: white;
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 0.5rem;
  padding-bottom: 3rem;
  font-family: "Alata", sans-serif;
  font-weight: 200;
}
@media screen and (max-width: 1300px) {
  .vr__text {
    right: 3.5rem;
  }
}
@media screen and (max-width: 1200px) {
  .vr__text {
    right: 1.5rem;
  }
}
@media screen and (max-width: 1080px) {
  .vr__text {
    position: static;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    text-align: center;
  }
}
@media screen and (max-width: 340px) {
  .vr__text {
    font-size: 1.7rem;
  }
}
.vr p {
  max-width: 28rem;
  color: gray;
  font-size: 0.85rem;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 0.05rem;
  line-height: 1.75;
}
@media screen and (max-width: 1080px) {
  .vr p {
    margin: auto;
  }
}
@media screen and (max-width: 376px) {
  .vr p {
    max-width: 18rem;
    margin: auto;
  }
}
@media screen and (max-width: 340px) {
  .vr p {
    font-size: 0.75rem;
  }
}

.container {
  width: 100vw;
  height: 12vw;
  background-color: black;
}

.left-side {
  width: 22vw;
  height: 2vw;
  margin-left: 8vw;
  padding-top: 2vh;
}

h1 {
  color: white;
  margin-left: 2.6vw;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  list-style: none;
}

li a {
  color: white;
  list-style: none;
}

.footer-social.media {
  display: flex;
  justify-content: space-between;
}

img {
  position: relative;
  top: -2vh;
  left: 77vw;
}

.copyright {
  color: white;
  position: relative;
  left: 75vw;
}

.challanged-father {
  width: 100vw;
  height: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.challanged {
  color: white;
  right: 8vw;
  position: relative;
  top: -7vh;
}

/*# sourceMappingURL=main.css.map */
